h1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  main {
    margin: 105px 10px;
  }

* {
    color: white;
}

body {
    background: rgb(42,41,41);
    background: linear-gradient(90deg, rgba(42,41,41,1) 0%, rgba(110,115,114,1) 51%, rgb(160, 165, 165) 100%);
}
